<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/HEADER.ejs')%>
    <script defer src="./js/list.js"></script>
  </head>
  <body>
    <%- include('./components/NAV.ejs')%>
    <div class="container mt-5">
    <%for(let i = 0;i<todolists.length;i++){%>
    <a href="#" class="link" id="<%=todolists[i]._id%>">
      <div id="<%=todolists[i]._id%>">
      <p><%=todolists[i].todo%></p>
      <p><%=todolists[i].createdAt%></p>
      <button type="button" class="btn btn-danger">DELETE</button>
      </div>
    </a>
      <%}%>
    </div>
  </body>
</html>
