<%- include('./components/HEADER.ejs')%>
  <body>
    <%- include('./components/NAV.ejs')%>
    <%for(let i = 0;i<todolists.length;i++){%>
      <div id="<%=todolists[i]._id%>">
      <p><%=todolists[i].todo%></p>
      <p><%=todolists[i].createdAt%></p>
      <button type="button" class="btn btn-danger">DELETE</button>
      </div>
      <%}%>
  </body>
</html>
